In [3]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv(r'C:\Users\flowe\OneDrive\Documents\pythontutorial\data science salaries\blancV1.csv')
df

,case_id,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,Mid-level,Full-time,Data Scientist,70000,EUR,79833,Germany,0,Germany,Large
1,1,Senior-level,Full-time,Machine Learning Scientist,260000,USD,260000,Japan,0,Japan,Small
2,2,Senior-level,Full-time,Big Data Engineer,85000,GBP,109024,United Kingdom (Great Britain),50,United Kingdom (Great Britain),Medium
3,3,Mid-level,Full-time,Product Data Analyst,20000,USD,20000,Honduras,0,Honduras,Small
4,4,Senior-level,Full-time,Machine Learning Engineer,150000,USD,150000,United States of America,50,United States of America,Large
...,...,...,...,...,...,...,...,...,...,...,...
602,602,Senior-level,Full-time,Data Engineer,154000,USD,154000,United States of America,100,United States of America,Medium
603,603,Senior-level,Full-time,Data Engineer,126000,USD,126000,United States of America,100,United States of America,Medium
604,604,Senior-level,Full-time,Data Analyst,129000,USD,129000,United States of America,0,United States of America,Medium
605,605,Senior-level,Full-time,Data Analyst,150000,USD,150000,United States of America,100,United States of America,Medium
606,606,Mid-level,Full-time,AI Scientist,200000,USD,200000,India,100,United States of America,Large


###### <img src="https://lh3.googleusercontent.com/yuUrDV2DAtBRvItHZ2FvXMkPbHR5NEt4kXbpp8dgK-r9jI9-irP19GJb2CvdBRYmy41KG4BxFu2Hod9GzdgGc46iYmm7As4bNNsc-JP7vYwY8d1BzHgZdvKR7H4xtLM20zR9gn0PJE-nQU0navp9Xh0pHc3Cp-CjYUENN7dWZ3NJiw8CiHFEJn7Mc0ul_A">

# Data Science Salaries Project
As I make my transition from news media into the tech world, I want to make sure I have some general information about salary, location, work/life balance etc. to get the most out of my job search. Looking over my skills, when I was in university I was fairly good with backend coding and data analysis/web scrapping. 

After speaking with my professors, they suggested I may want to look into the world of data analysis (working with data to acquire useful information, which can then be used to make informed decisions) or data science (combining math and statistics, specialized programming, advanced analytics, artificial intelligence (AI), and machine learning to uncover actionable insights to guide decision-making and strategic planning for an organization.) 

Using this dataset from kaggle of [Data Science salaries](https://www.kaggle.com/datasets/ruchi798/data-science-job-salaries) updated in June 2020, let's see what jobs may be available for me.

No reason to limit ourselves, let's see how endless the possibilities are. Taking a look across all job titles, which ones makes the most on average?

In [8]:
df.groupby('job_title')['salary_in_usd'].mean().round(2).sort_values(ascending=False)

job_title
Data Analytics Lead                         405000.00
Principal Data Engineer                     328333.33
Financial Data Analyst                      275000.00
Principal Data Scientist                    215242.43
Director of Data Science                    195074.00
Data Architect                              177873.91
Applied Data Scientist                      175655.00
Analytics Engineer                          175000.00
Data Specialist                             165000.00
Head of Data                                160162.60
Machine Learning Scientist                  158412.50
Data Science Manager                        158328.50
Director of Data Engineering                156738.00
Head of Data Science                        146718.75
Applied Machine Learning Scientist          142068.75
Lead Data Engineer                          139724.50
Data Analytics Manager                      127134.29
Cloud Data Engineer                         124647.00
Data Engineering Manager                    123227.20
Principal Data Analyst                      122500.00
ML Engineer                                 117504.00
Machine Learning Manager                    117104.00
Lead Data Scientist                         115190.00
Data Engineer                               112725.00
Research Scientist                          109019.50
Data Scientist                              108187.83
Computer Vision Software Engineer           105248.67
Staff Data Scientist                        105000.00
Machine Learning Engineer                   104880.15
Machine Learning Infrastructure Engineer    101145.00
Big Data Architect                           99703.00
Data Analyst                                 92893.06
Lead Data Analyst                            92203.00
Marketing Data Analyst                       88654.00
Lead Machine Learning Engineer               87932.00
Machine Learning Developer                   85860.67
Head of Machine Learning                     79039.00
Business Data Analyst                        76691.20
Data Science Engineer                        75803.33
BI Data Analyst                              74755.17
Data Science Consultant                      69420.71
AI Scientist                                 66135.57
Data Analytics Engineer                      64799.25
Finance Data Analyst                         61896.00
ETL Developer                                54957.00
Big Data Engineer                            51974.00
Computer Vision Engineer                     44419.33
NLP Engineer                                 37236.00
Product Data Analyst                         13036.00
3D Computer Vision Researcher                 5409.00
Name: salary_in_usd, dtype: float64

Seeing as right now I have about 2 years of experience, let's see what our entry-level options look like:

In [24]:
etl = df.query('experience_level == "Entry-level"').groupby('job_title')['salary_in_usd'].mean().round(2).sort_values(ascending=False)
etl

job_title
Machine Learning Scientist            225000.00
Applied Data Scientist                110037.00
Computer Vision Software Engineer     110000.00
Financial Data Analyst                100000.00
Machine Learning Developer            100000.00
Machine Learning Engineer              86996.33
Research Scientist                     86132.00
Business Data Analyst                  79551.00
Data Science Consultant                62640.80
Data Engineer                          58933.50
Data Scientist                         55330.91
Computer Vision Engineer               54536.33
Data Analyst                           53960.67
BI Data Analyst                        32136.00
Applied Machine Learning Scientist     31875.00
Big Data Engineer                      30703.33
AI Scientist                           21987.25
Data Analytics Engineer                20000.00
ML Engineer                            18974.50
Name: salary_in_usd, dtype: float64

I've personally become very accustomed to working from home over the past few years, so let's see which positions are the best for *remote work.

In [22]:
remote = df.query('remote_ratio >= 50 & experience_level == "Entry-level"').groupby('job_title')['remote_ratio'].mean().round(2).sort_values(ascending=False)
remote

job_title
Applied Machine Learning Scientist    100.00
Machine Learning Scientist            100.00
Big Data Engineer                     100.00
Business Data Analyst                 100.00
ML Engineer                           100.00
Computer Vision Software Engineer     100.00
Data Engineer                          91.67
Data Analyst                           88.89
AI Scientist                           87.50
Machine Learning Engineer              77.78
Data Scientist                         76.47
Data Science Consultant                75.00
Computer Vision Engineer               75.00
BI Data Analyst                        75.00
Research Scientist                     66.67
Financial Data Analyst                 50.00
Machine Learning Developer             50.00
Name: remote_ratio, dtype: float64

###### *For this dataset: 0 No remote work (less than 20%) 50 Partially remote 100 Fully remote (more than 80%)

Not too bad, at least we've got some ideas of roles to search for on job boards. Now, when it comes to salary distribution, what does that look like across countries for this industry of entry-level Data Science?

In [23]:
globalsal = df.query('experience_level == "Entry-level"').groupby('company_location')['salary_in_usd'].mean().round(2).sort_values(ascending=False)
globalsal

company_location
Australia                         118351.50
Algeria                           100000.00
Iraq                              100000.00
China                             100000.00
United States of America           93112.90
United Kingdom (Great Britain)     65604.60
Germany                            57551.82
Canada                             57132.00
France                             47325.60
Netherlands                        42000.00
Japan                              41689.00
Malaysia                           40000.00
Denmark                            37252.50
Luxembourg                         34551.00
Czech Republic                     31875.00
Portugal                           21983.00
Colombia                           21844.00
Italy                              21669.00
Pakistan                           20000.00
India                              19629.33
American Samoa                     18053.00
Ukraine                            13400.00
Spain                              10354.00
Nigeria                            10000.00
Kenya                               9272.00
Switzerland                         5882.00
Viet Nam                            4000.00
Name: salary_in_usd, dtype: float64

Since it doesn't seem like I'll be moving to Australia any time soon, let's stick with the companies located in the U.S. Looking at the job titles, it seems like the categories I'd fall into are either engineer, analyst, or scientist. Let's see what my options are for each of those categories.

In [52]:
engineers = df.query('experience_level == "Entry-level" & company_location == "United States of America" & job_title.str.contains("Engineer")').groupby('job_title')['salary_in_usd'].mean().round(2).sort_values(ascending=False)
engineers

job_title
Machine Learning Engineer            148500.0
Computer Vision Engineer             125000.0
Data Engineer                         84375.0
Big Data Engineer                     70000.0
Computer Vision Software Engineer     70000.0
Name: salary_in_usd, dtype: float64

In [53]:
analyst  = df.query('experience_level == "Entry-level" & company_location == "United States of America" & job_title.str.contains("Analyst")').groupby('job_title')['salary_in_usd'].mean().round(2).sort_values(ascending=False)
analyst

job_title
Business Data Analyst     100000.00
Financial Data Analyst    100000.00
Data Analyst               73833.33
BI Data Analyst            55000.00
Name: salary_in_usd, dtype: float64

In [54]:
scientist  = df.query('experience_level == "Entry-level" & company_location == "United States of America" & job_title.str.contains("Scientist")').groupby('job_title')['salary_in_usd'].mean().round(2).sort_values(ascending=False)
scientist

job_title
Machine Learning Scientist    225000.00
Research Scientist            120000.00
Data Scientist                 88833.33
AI Scientist                   12000.00
Name: salary_in_usd, dtype: float64


I wasn't the best at higher-level math or physics in school, so let's drop engineering for now. Leaves us with analyst or scientist. From my prior experience, I'd consider myself a data-savvy person who can communicate data well through visualizations, so it seems like data analyst or scientist might be the way to go. 

After some research, it seems as though becoming a data analyst (or at least learning the skills of one) is a critical step in being able to transition into the role of a data scientist. Looks like we have a starting point!

Let's take a look at the average salary for this role across the globe. Hypothetically speaking, if I were to work anywhere, where would I get the best pay?

In [59]:
bestpay = df.query('job_title == "Data Analyst" & experience_level == "Entry-level"').groupby('company_location')['salary_in_usd'].mean().round(2).sort_values(ascending=False)
bestpay

company_location
United States of America    73833.33
Canada                      59500.00
France                      59102.00
Spain                       10354.00
Nigeria                     10000.00
India                        6072.00
Name: salary_in_usd, dtype: float64

As an entry-level employee?

In [58]:
bestpay = df.query('job_title == "Data Analyst" & experience_level == "Entry-level"').groupby('company_location')['salary_in_usd'].mean().round(2).sort_values(ascending=False)
bestpay

company_location
United States of America    73833.33
Canada                      59500.00
France                      59102.00
Spain                       10354.00
Nigeria                     10000.00
India                        6072.00
Name: salary_in_usd, dtype: float64

I'd say my odds look pretty good for this role in the U.S. When it comes to negotiating salaries, I'd like to know what range I could be expecting/should be asking for when asked in applications and by recruiters. Let's take a look at what my salary in the U.S. might look like, depending on my experience?

In [58]:
experience = df.query('job_title == "Data Analyst" & company_location == "United States of America" ').groupby('experience_level')['salary_in_usd'].mean().round(2).sort_values(ascending=False)
experience

experience_level
Executive-level    120000.00
Senior-level       115116.77
Mid-level           95750.67
Entry-level         73833.33
Name: salary_in_usd, dtype: float64

It looks like $74,000 - 90,000 seems like a safe ballpark. Since I'm just starting in the industry, should I jump right in a start applying to full-time positions? Or maybe get my feet wet with a part-time or contractual role?

In [56]:
position = df.query('job_title == "Data Analyst" & company_location == "United States of America" & experience_level == "Entry-level"').groupby('employment_type')['salary_in_usd'].mean().round(2).sort_values(ascending=False)
position

employment_type
Full-time    73833.33
Name: salary_in_usd, dtype: float64

As a full time data analyst in the U.S., I could make am average of $107k. Unfortunately, it doesn't look like we have any part-time or contractual roles in our dataset to compare it to (while they definitely exist).


What about the size of the company I'm applying to? Large companies can be known for large salaries, but I've heard sometimes it's smaller start-ups with the better pay.

In [55]:
size = df.query('job_title == "Data Analyst" & company_location == "United States of America" & experience_level == "Entry-level"').groupby('company_size')['salary_in_usd'].mean().round(2).sort_values(ascending=False)
size

company_size
Large     81500.0
Small     75000.0
Medium    65000.0
Name: salary_in_usd, dtype: float64

######  (For this dataset less: than 50 employees (small), 50 to 250 employees (medium), more than 250 employees (large))

Seems like somewhere in between would be a good fit for me. 

So it looks like I'll be searching for remote Data Analyst roles in the U.S. at relatively medium/large-sized companies. I think I'm ready to begin my job search!

###### *For further analysis, I would find data for salaries, remote ratio, company demographics and pay by gender of data analysts in different cities throughout the U.S. and compare them to narrow the search.